$primary-color: #9F0C22; /*hover og baggrundsfarver til fx knapper*/
$secondary-color: #1a1a1a; /*sort overskrift*/
$third-color: #434343; /*brød- og undertle overskrift*/
$fourth-color: #f9f9f9; /*hvid overskrift*/
$fifth-color: #bababa; /*brød- og undertle overskrift på mørk baggrund*/
$sixth-color: #ededed; /*brød- og undertle overskrift på lys baggrund*/