@use "colors" as *;
@use "typography" as *;

* {
    box-sizing: border-box;
}

/*scrolle fra nav smooth*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 200px);
}

/*nav*/
.navbar {
    background-image: url(/img/black-texture.jpg);
    position: fixed;
    padding: 0 10% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: none;
    display: flex;
    /*added*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    /*added*/
    .logo {
        img {
            max-height: 80px;
            margin: 10px 0;
        }
    }
    .navbar-language {
        color: $fourth-color;
        font-size: 20px;
        font-family: "DIN Next Slab", sans-serif; 
    }

    .navbar-language:hover {
        color: $primary-color;
    }

    .navbar-toggler {
        background-color: $primary-color;
        box-shadow: none;
    }

    .offcanvas {
        background-image: url(/img/white-texture.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        .hamburger-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            img {
                max-height: 200px; 
            }
        }
        .nav-item {
            padding-left: 80px;
            a {
                color: $third-color;
                padding: 16px 0;
                font-family: 'DIN Next Slab', sans-serif;
                font-size: 18px;
            }
            a:hover {
                color: $primary-color;
            }

            #sponsor {
                margin-bottom: 40px;
            }

            .frivillig-button {
                a {
                    background-color: $primary-color;
                    padding: 15px 40px;
                    color: $fourth-color !important;
                    border-radius: 8px;
                    font-family: 'DIN Next Slab', sans-serif;
                    
                }
                a:hover {
                    border: 1px solid $secondary-color;
                }
            }

            .frivillig {
                background-color: $primary-color;
                    padding: 15px 20px;
                    color: $fourth-color !important;
                    border-radius: 8px;
                    font-family: 'DIN Next Slab', sans-serif;
            }

            .frivillig-button {
                :hover {
                    border: 1px solid $secondary-color;
                }
            }
            
        }
        .offcanvas-header {
            .btn-close:focus {
                box-shadow: none;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .navbar {
        .logo {
            img {
                max-height: 70px;
            }
        }
        .navbar-language {
            font-size: 18px;
        }
    }
}

/*frontpage*/

.frontpage {
    min-height: 95vh;
    background-image: url(/img/hero-img-front-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 0 10% !important;
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fp1 {
            font-family: 'Mocha Mattari';
            font-size: 100px;
            color: #f9f9f9;
            text-shadow: 0 4px 10px rgb(0 0 0 / 20%)
        }
        
        .fp2 {
            font-family: 'Mocha Mattari';
            font-size: 70px;
            color: #f9f9f9;
            margin-top: -30px;
            margin-bottom: 50px;
            z-index: 2;
            text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
        }
        
        .fp3 {
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 30px;
            color: #f9f9f9;
            text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
        }
        
        .fp4 {
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 22px;
            color: #f9f9f9;
            text-align: center;
            text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
        }

        p {
            margin: 0;
        }

        a {
            padding: 15px 50px;
            transition-duration: 0.2s;
            background-color: $primary-color;
            border-radius: 8px; 
            margin-top: 30px;
            color: $fourth-color;
            border: 1px solid $primary-color;
            font-family: 'DIN Next Slab', sans-serif;
            font-size: 18px;
        }
        
        .button-billet:hover {
            border: 1px solid #ffffff;
            color: #f9f9f9;
            transition: 0.3s;
        }
        
        .button-billet a:active { 
            border: 2px solid #ffffff;
        }

        @media screen and (max-width: 1010px) {
            .fp1 {
                font-size: 80px;
            }
        
            .fp2 {
                font-size: 60px;
            }
        
            .fp3 {
                font-size: 20px;
            }
        
            .fp4 {
                font-size: 18px;  
            }
        }
        
        @media screen and (max-width: 650px) {
            .fp1 {
                font-size: 60px;
            }
        
            .fp2 {
                font-size: 50px;
            }
        
            .fp4 {
                font-size: 15px;  
            }
        }

    }

    
}




/*first section after frontpage*/
.firstsection {
    box-sizing: border-box;
    /*the right of the two col*/
   .rightbox {
       background-image: url(/img/calendar-img.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       padding: 0;
       right: 0;
       max-height: 420px;
       .text {
           margin-left: 55px;
       }
       @media screen and (max-width: 460px) {
        .text {
            margin-left: 30px;
        }
       }
   }

   

   /*the left of the two col*/
   .leftbox {
       background-image: url(/img/tickets-background.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       min-height: 420px;
       left: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0;

        /*whitebox in the center in the left*/
       .whiteplaster {
           background-image: url(/img/white-texture.jpg);
           background-size: cover;
           background-repeat: no-repeat;
           border-radius: 20px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin: 0px 40px;
           .content {
               padding: 20px 0;
               display: flex;
               flex-direction: column;
               align-items: center;

               .blacklogo {
                   max-height: 80px;
                   margin-bottom: 8px;
               }

               

               button {
                   display: flex;
                   align-items: center;
                   border: none;
       
                       img {
                           max-height: 30px;
                           rotate: 270deg;
                       }
       
                       @media only screen and (max-width: 900px) {
                           img {
                               max-height: 20px;
                           }
                       }
                   }
              
           }
      
           
       
           button:hover { 
           transform: scale(1.1);
           }
       }

       /*mediaresponse to the whiteplaster in the leftbox*/
       @media screen and (max-width: 1150px){

           .whiteplaster {
               width: 80%;
           }
       }
   }
}

@media screen and (max-width: 880px) {
    .firstsection .row {
        display: flex;
        flex-direction: column;
        .rightbox {
            width: 100%;
            min-height: 400px;
        }
        .leftbox {
            width: 100%;
            min-height: 400px;
        }
    }
}
    


/*second section*/
    .secondsection {
        background-image: url(/img/white-texture-logo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        padding: 0 10%;
        max-width: 100%;
        .gallery {
            display: flex;
            align-items: center;
            .carousel-inner {
                max-width: 100%;
                height: auto;
            }
        }
    
        @media only screen and (max-width: 960px){
            .row {
                flex-direction: column;
                
                .gallery {
                    margin-bottom: 40px;
                }
    
                p {
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }


/*third section*/
    .thirdsection {
        background-image: url(/img/black-texture.jpg);
        background-size: cover;
        padding: 0 10%;
        .row {
            padding: 25px 0;
            display: flex;
            flex-direction: row;
            align-items: space-between;
            justify-content: center;
            }
    
        /*toptext*/
        .firstrow {
            padding-top: 80px;
        }
        /*img editing + the next 3 classes*/
        img {
            max-height: 450px;
            background-color: #f9f9f9;
            border-radius: 20px;
        }

        .cars {
            max-height: 300px; 
        }

        .kidsque {
            margin: -60px 0 -60px 50px;
        }

        .volunteers{
            margin-top: -40px;
        }
        
        .volunteerscol {
            padding-bottom: 30px;
        }
    
            @media only screen and (max-width: 1000px) {
                img {
                    max-height: 400px;
                }
                .cars {
                    max-height: 250px; 
                }  
                .kidsque {
                    margin: -40px 0 -20px 50px;
                }
                .volunteers{
                    margin-top: -40px;
                }
            }
    
            @media only screen and (max-width: 822px) {
                .row{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .col {
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        padding: 0;
                    }
                    .textcontent2 {
                        margin: 0;
                    }
                    img {
                        height: 320px;
                    }
                    .cars {
                        max-height: 250px; 
                    }  
                    .kidsque {
                        margin: 0;
                    }
                    .volunteers{
                        margin: 0;
    
                    }
                }
    
                .kidsrow {
                    flex-direction: column-reverse;
                }
            }
        
        .textcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    
        /*kidsque text*/
        .textcontent2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 60px;
        }
    }


/*countdown starter*/
    .countdown-col {
        background-image: url(/img/red-pattern.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        h1 {
            font-family: 'Mocha Mattari';
            color: $fourth-color;
            font-size: 70px;
            text-align: center;
            margin-top: 80px;
            margin-bottom: 16px;
        }
        p {
            color: $sixth-color;
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 24px;
            text-align: center;
        } 
        
        .countdown {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .time {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 15px;
                margin-top: 50px;
                font-family: 'DIN Next Slab', sans-serif;
                color: $fourth-color;
                h2 {
                    font-size: 75px;
                    font-family: 'DIN Next Slab', sans-serif;
                    color: $fourth-color;
                }
            
                p {
                    margin-bottom: 60px; /*added*/
                    font-family: 'DIN Next Slab', sans-serif;
                    font-size: 24px;
                }
            }
        }
    }

/*countdown ender*/


/*instagram starter*/
.instagram-account {
    background-image: url(/img/black-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 85px 10%;

    /*instagram tekst begynder*/
    .insta-left{
        align-self: center;
        display: inline;
        box-sizing: border-box;
        justify-content: center;
        h1 {
            font-family: 'Mocha Mattari';
            color: $fourth-color;
            font-size: 80px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 16px;
        }
        p {
            color: $fifth-color;
            font-family: 'Tox Typewriter', sans-serif;
            font-size: 24px;
            text-align: center;
        }
        .instagram-button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: 0.3s;
            margin-top: 60px;
            a {
                font-family: 'DIN Next Slab', sans-serif;
                color: $fourth-color;
                padding: 15px 50px;
                border-radius: 8px;
                font-size: 16px;
                transition: 0.3s;
                background-color: $primary-color;
            }
            a:hover {
                border: 1px solid $fourth-color;
            }
        }
    }
    /*instagram tekst ender*/


    /*images fra instagram begynder*/
    .instagram-images {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: center;
        .instagram-images-1 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                max-width: 350px;
                border-radius: 20px;
            }
        }
        .instagram-images-2 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                max-width: 350px;
                border-radius: 20px;
            }
        }
        .instagram-images-3 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            img {
                max-width: 350px;
                border-radius: 20px;
            }
        }
    }
    /*images fra instagram ender*/
}

/*instagram ender*/

/*hjælp starter*/
.helpcentersection {
    padding: 0;
    .help-letter {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .helpcenter {
            background-image: url(/img/red-pattern.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            padding-right: 0;
            padding-left: 0;
            display: inline;
            align-self: center;
            min-height: 100%;
            flex: 50%;
            width: 100%;
            h1 {
                font-family: 'Mocha Mattari';
                color: $fourth-color;
                font-size: 50px;
                text-align: center;
                margin: 50px 0 30px 0;
                padding: 0;
            }
            p {
                color: $sixth-color;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'DIN Next Slab', sans-serif;
            }
            .sat-sun {
                margin-bottom: 35px;
            }
            .helpcenter-button {
                display: block;
                margin-left: auto;
                margin-right: auto;
                transition: 0.3s;
                margin: 50px 0px 70px 0;
                text-align: center;
                a {
                    font-family: 'DIN Next Slab', sans-serif;
                    color: $fourth-color;
                    padding: 15px 50px;
                    border-radius: 8px;
                    font-size: 16px;
                    transition: 0.3s;
                    background-color: $secondary-color;
                }
                a:hover {
                    border: 1px solid $fourth-color;
                }
                :active {
                    border: 2px solid $fourth-color;
                }
            }
        }
    }
    
}

/*hjælp ender*/


/*nyhedsbrev starter*/
.newsletter {
    background-image: url(/img/white-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 0;
    padding-left: 0;
    display: inline;
    align-self: center;
    min-height: 100%;
    flex: 50%;
    width: 100%;
    h1 {
        font-family: 'Mocha Mattari';
        color: $secondary-color;
        font-size: 50px;
        text-align: center;
        margin: 50px 0 70px 0;
    }
    .newsletter-input {
        font-family: 'DIN Next Slab', sans-serif;
        display: flex;
        gap: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $third-color;
        margin-bottom: 115px;
        .form-floating .form-control {
            min-width: 300px;
            border-radius: 8px;
        }
        .form-control:focus {
            box-shadow: none;
        }
    }
    .newsletter-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        margin: 50px 0px 70px 0;
        text-align: center;
        a {
            color: $fourth-color;
            font-family: 'DIN Next Slab', sans-serif;
            padding: 15px 70px;
            border-radius: 8px;
            font-size: 16px;
            background-color: $secondary-color;
        }
        a:hover {
            border: 3px solid $primary-color;
        }
        :active {
            border: 3px solid $primary-color;
        }
    }
}

@media screen and (max-width: 680px) {
    .newsletter-input {
        .form-floating {
            .form-control {
                min-width: 175px !important;
            }
        }
    }
}

/*nyhedsbrev ender*/

.footer-parent {
    background-image: url(/img/black-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*logo starter*/
    .footer-logo {
        padding: 0;
        .footer-logo-img {
            padding: 0 10%;
            max-height: 350px;
            margin-top: 75px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    

    /*logo ender*/


    /*links starter*/
    .footer-links {
        padding: 0 10%;
        display: flex;
        gap: 40px;
        margin: 50px 0;
        justify-content: center;
        align-items: center;
        a {
            color: $fourth-color;
            font-family: 'DIN Next Slab', sans-serif;
            font-size: 18px;
            :hover {
                color: $primary-color;
            }
        }
    }
    /*links ender*/

    /*vælg sprog starter*/
    .footer-dropdown-row {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
        .footer-dropdown {
            border-radius: 8px;
            align-items: center;
            padding: 0;
            a {
                color: $secondary-color;
                font-family: 'DIN Next Slab', sans-serif;
                padding: 0 20px;
            }
            .dropdown {
                display: flex;
                border-radius: 8px;
                width: 200px;
                align-items: center;
                background-color: $fourth-color;
                .footer-dropdown-box {
                    display: flex;
                    align-items: center;
                    .footer-choose-language {
                        margin: 0;
                        color: $secondary-color;
                        display: inline;
                    }
                    img {
                        height: 60px;
                        padding-left: 20px;
                    }
                }
                .dropdown-menu {
                    background-color: $fourth-color;
                    width: 200px;
                    :hover {
                        background-color: $primary-color;
                        color: $fourth-color;
                    }              
                    a {
                        padding: 10px 20px;
                    }
                }
            }
        } 
    }   
    /*vælg sprog ender*/
}


/*sociale medier starter*/
.footer-some {
    padding: 0 10%;
    .footer-some-logo {
        margin: 75px 0 50px 0;
        display: flex;
        justify-content: center;
        gap: 24px;
        transition: 0.3s;
        a {
            :hover {
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
        img {
            max-height: 60px;
        }
    }
}

/*sociale medier ender*/

/*ekstra oplysninger starter*/
.footer-address {
    padding: 0 10%;
    color: $fourth-color;
    font-size: 18px;
    margin-bottom: 25px;
    font-family: 'DIN Next Slab', sans-serif;
    text-align: center;
}

.footer-cookie {
    padding: 0 10%;
    color: $fifth-color;
    margin-bottom: 50px;
    font-family: 'DIN Next Slab', sans-serif;
    text-align: center;
}

.footer-copyright {
    color: $fourth-color;
    width: 100%;
    background-color: $secondary-color;
    filter: opacity(50%);
    margin: 0;
    padding: 24px 0;
}

.footer-copyright p {
    margin: 0;
    font-family: 'DIN Next Slab', sans-serif;
    text-align: center;
}

/*ekstra oplysninger ender*/

/*media begynder*/
@media only screen and (max-width: 1773px) {
    .instagram-images {
        column-gap: 30px;

        img {
            width: 300px;
        }
    } 
}

@media only screen and (max-width: 1599px) {
    .insta-right {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 1490px) {
    .footer-dropdown {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1400px) {
    .newsletter {
        .newsletter-input {
            gap: 16px;
            .form-floating .form-control {
                min-width: 250px;
                border-radius: 8px;
            }
        }
    }
}

@media only screen and (max-width: 1360px) {
    .instagram-images {
        display: flex;
        flex-direction: column;
        width: 400px;

        img {
            width: 400px;
        }
    }
}

@media only screen and (max-width: 1395px) {
    .newsletter-input {
        margin-bottom: 114px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-dropdown {
        padding-left: 80px;
    }
}

@media only screen and (max-width: 1052px) {
    .instagram-account  {
        display: flex;
        flex-direction: column;

        .insta-right {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .instagram-images {
            column-gap: 30px;
            
            img {
                width: 400px;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    .newsletter {
        .newsletter-input {
            gap: 14px;
            .form-floating .form-control {
                min-width: 200px;
                border-radius: 8px;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .footer-dropdown {
        padding-left: 90px;
    }
}

@media only screen and (max-width: 1050px) {
    .help-letter {
        display: flex;
        flex-direction: column;
        .newsletter {
            .newsletter-input {
                gap: 24px;
                .form-floating .form-control {
                    min-width: 300px;
                    border-radius: 8px;
                }
            }
        }
    }  
}

@media only screen and (max-width: 970px) {
    .footer-dropdown {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 880px) {
    .footer-dropdown {
        padding-left: 120px;
    }
}

@media only screen and (max-width: 700px) {
    .footer-parent {
        .footer-logo-img {
            height: 300px;
        }
    }

    .footer-dropdown {
        padding-left: 140px;
    }
    
    .footer-links {
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 650px) {
    .countdown-col {
        h1 {
            font-size: 45px !important;
        }
        .countdown {
            .time {
                h2 {
                    font-size: 50px !important;
                }
                p {
                    font-size: 18px !important;
                }
            }
        }
    }
}


/*media ender*/


